.image-container {
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
    cursor: pointer;
}

.image-container:hover .queen-image {
    opacity: .2;
}

.queen-image {
    transition: .3s ease;
}

.overlay-name {
    transition: .3s ease;
    opacity: 0;
}

.image-container:hover .overlay-name {
    opacity: 1;
}